<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testolingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="description" content="Testolingo – procvičuj a testuj své jazykové znalosti">
    <meta name="theme-color" content="#f7b0e7">
    <meta name="author" content="Kryštof Ham">
    <meta property="og:title" content="Testolingo">
    <meta property="og:description" content="Denní streak těstovin">
    <meta property="og:type" content="website">
</head>

<body>
    <div class="nav">
        <a href="{{ url_for('home') }}">Domů</a>
        <a href="{{ url_for('prehled') }}" class="active">Přehled</a>
    </div>
    <div class="boxes">
        <div class="streak-box">
            <div class="streak-number">{{ streak_actual }}</div>
            <div class="streak-label">Aktuální streak</div>
        </div>

        <div class="streak-box">
            <div class="streak-number">{{ streak_high }}</div>
            <div class="streak-label">Nejdelší streak</div>
        </div>

        <div class="streak-box">
            <div class="streak-number">{{ streak_before }}</div>
            <div class="streak-label">Dnešní streak</div>
        </div>
    </div>
</body>

</html>