<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testolingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="description" content="Testolingo – procvičuj a testuj své jazykové znalosti">
    <meta name="theme-color" content="#f7b0e7">
    <meta name="author" content="Kryštof Ham">
    <meta property="og:title" content="Testolingo">
    <meta property="og:description" content="Denní streak těstovin">
    <meta property="og:type" content="website">
</head>

<body>
    <form action="/submit_streak" method="POST">
        <label for="streak">Enter your streak:</label>
        <input type="number" id="streak" name="streak" required>
        <button type="submit">Save Streak</button>
    </form>
</body>

</html>