<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <form action="/submit_streak" method="POST">
        <label for="streak">Enter your streak:</label>
        <input type="number" id="streak" name="streak" required>
        <button type="submit">Save Streak</button>
    </form>
</body>

</html>